@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Parisienne&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-bourdeaux: #821d30;
  --clr-dark: #a27565;
  --clr-light: #dcd4c0;
  --clr-ivory: #f6f0e7;
  --clr-pink: #fbebe7;
}

body {
  background: var(--clr-ivory);
  font-family: 'Parisienne', cursive;
}

.btn {
  cursor: pointer;
  width: 180px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
}
.sign-btn {
  background-color: var(--clr-dark);
  color: #f6f0e7;
}
input {
  border: none;
  border-radius: 10px;
}
